.login {
    background: #70e1f5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    width: 100%;
    position: relative;
}

.boxLogin {
    width: 100%;
    max-width: 475px;
    height: 460px; 
    margin: auto;
    position: absolute;
    padding: 30px;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    h1 {
        margin: 0;
        color: #fff;
        text-align: center;
        font-size: 5.143em;
        margin-bottom: 30px;
    }
    
    #login {
        
        .campo {
            margin-bottom: 20px;

            label {
                width: 100%;
                color: #fff;
                font-weight: 400;
                font-size: 1.143em;
            }
            input {
                width: 100%;
                border: 0;
                border-radius: 5px;
                height: 40px;
                background: rgba(255, 255, 255, 0.65);
                padding-left: 10px;
                border-bottom: 1px solid #fff;
            }
        }

        .checkbox {
            input {
                margin-left: 0;
            }
            label {
                color: #fff;
            }
        }

        button {
            border: 0;
            color: #000;
            width: 130px;
            height: 37px;
            font-weight: 700;
            background: #fff;
            border-radius: 5px;
            margin-top: 15px;
        }

    }
}

