<div class="produto">
    <a ng-click="openDetalhes(produto)">
        <img src="{{produto.imagem}}" alt="{{produto.nome}}" class="img-responsive">
    </a>

    <div class="descricao">
        <a ng-click="openDetalhes(produto)">
            <p class="nome">{{produto.nome}}</p>
        </a>
        <p class="preco">{{produto.preco}}</p>
        <div class="quantidade">
            <input type="text" placeholder="Quantidade" ng-model="produto.quantidade">
        </div>
    </div>
    <button ng-click="adicionarCarrinho(produto)">COMPRAR</button>
</div>