<meu-header></meu-header>

<section class="destaques">

    <div class="container">
        <div class="row">

            <nav class="menu col-md-3 navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><span class="glyphicon glyphicon-star"></span>Destaques</li>
                        <li><span class="glyphicon glyphicon-glass"></span>Bebidas</li>
                        <li><span class="glyphicon glyphicon-apple"></span>Frutas</li>
                        <li><span class="glyphicon glyphicon-grain"></span>Verduras</li>
                        <li><span class="glyphicon glyphicon-ice-lolly-tasted"></span>Guloseimas</li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>

            <div class="produtos col-md-9 col-sm-12">
                
                <div class="carrinho">
                    <p class="btn-carrinho" ng-click="toggleCarrinho()"><span class="glyphicon glyphicon-shopping-cart"></span>Carrinho</p>
            
                    <div class="lista-carrinho" ng-if="carrinho.length > 0 && openCarrinho">
                        <div class="box">
                            <div class="item" ng-repeat="(key, item) in carrinho">
                                <img src="{{item.imagem}}" alt="">
                                <div class="desc">
                                    <p class="nome">{{item.nome}}</p>
                                    <p class="qtd">quatidade: {{item.quatidadeCarrinho}}</p>
                                </div>
                                <a class="fechar glyphicon glyphicon-trash" ng-click="removerItem(key)"></a>
                            </div>
                            
                            <div class="total">
                                <p class="valor"><strong>Valor total:</strong> R$ {{valorTotal}},00</p>
                                <p class="quatidade"><strong>Quantidade total:</strong> {{quantidadeTotal}}</p>
                            </div>
                            <button ng-click="finalizarPedido()">Finalizar</button>
                        </div>
                    </div>
                </div>

                <h2>Destaques</h2>
                
                <input type="text" class="search" placeholder="Burque por um produto..." ng-model="buscar">

                <div class="row">
                    <produto class="col-md-3 col-sm-3 col-xs-6" ng-repeat="produto in produtos | filter: buscar"></produto>
                </div>
            </div>
        </div>
    </div>
</section>

<meu-footer></meu-footer>