<section class="detalhes">
    <div class="row">
        <img src="{{produto.imagem}}" alt="{{produto.nome}}" class="img-responsive col-md-5">
        <div class="side-right  col-md-7">
            <div class="descricao">
                <p class="nome">{{produto.nome}}</p>
                <p class="descricao-produto">{{produto.descricao}}</p>
                <p class="preco">{{produto.preco}}</p>
                <p class="frete">Frete Gratis</p>
            </div>
            <div class="quantidade">
                <label for="">Quantidade:</label>
                <input type="text" placeholder="Quantidade" ng-model="produto.quantidade">
            </div>
            <button ng-click="adicionarCarrinho(produto)">COMPRAR</button>
        </div>
    </div>
</section>