<meu-header></meu-header>

<section class="finalizar">
    <div class="container">
        <h1 class="title">Seu pedido foi finalizado com sucesso!!!</h1>
    
        <div class="listaProdutos">
            <table>
                <tr>
                    <th class="hidden-xs"></th>
                    <th>Nome</th>
                    <th class="hidden-xs">Valor unitário</th>
                    <th class="hidden-xs">Quantidade</th>
                    <th>Valor total</th>
                </tr>
                <tr class="item" ng-repeat="item in produtos">
                    <td class="hidden-xs">
                        <img src="{{item.imagem}}" alt="{{item.nome}}" class="img-produto">
                    </td>
                    <td>
                        {{item.nome}}
                    </td>
                    <td class="hidden-xs">
                        R$ {{item.precoReal}},00
                    </td>
                    <td class="hidden-xs">
                        {{item.quantidade}}
                    </td>
                    <td>
                        R$ {{item.precoTotal}},00
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="hidden-xs"></td>
                    <td class="hidden-xs"></td>
                    <td class="hidden-xs">{{quantidadeTotal}}</td>
                    <td>R$ {{valorTotal}},00</td>
                </tr>
            </table>
        </div>

        <a class="comprar-mais" ng-click="voltarComprar()"><span class="glyphicon glyphicon-chevron-left"></span>Comprar mais</a>
    </div>
</section>

<meu-footer></meu-footer>